html {
	scroll-snap-type: y mandatory; /* For Google Chrome */
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #1B1C1E;
	background-color: #F1F1F1;
	transition: background-color 1s ease;
	scroll-snap-type: y mandatory;
	position: relative; /* For Safari */
}

header {
	position: fixed;
}

.header-top {
	display: flex;
	justify-content: space-between;
	width: 100vw;
	margin: 20px 20px;
}

/* Style Menu */
nav {
	position: fixed;
	bottom: 50px;
	right: 4%;
	text-align: right;
}

a {
	color: #1B1C1E;
	text-decoration: none;
}

a:visited {
	color: #1B1C1E;
	text-decoration: none;
}

a:hover {
	color: blueviolet;
}

section {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	scroll-snap-align: start;
}

/* Style banner */

#banner {
	background-image: url(../images/background.png);
	background-position: center;
	background-size: cover;
}

.text-banner {
	display: grid;
	padding: 15% 20% 25% 7%;
}

#banner-title {
	font-size: 35px;
}

.banner-info {
	font-size: 24px;
	text-align: justify;
}

/* Style novels */
.novel {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.annotation {
	margin: 15px
}

.description {
	min-width: 240px;
	max-width: 400px;
	text-align: justify;
}

.cover {
	box-shadow: 0 15px 35px #1B1C1E;
	margin: 0 25px 0 25px;
}

.img-book {
	max-width: 200px
}

/* Style bottom section */
#section-bottom {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

footer {
	width: 100vw;
	position: absolute;
	bottom: 0;
}


/* Responsiveness */
@media (max-width: 539px) {
	header {
		display: none;
	}

	.arrow {
		display: none;
	}
}

@media (max-width: 759px) {
	.banner-title {
		font-size: 22px;
	}

	.banner-info {
		font-size: 18px;
	}

	.title {
		font-size: 18px;
	}

	.description {
		font-size: 14px;
	}
	
	.novel {
		padding-bottom: 1em;
	}

	.img-book {
		width: 180px;
	}
}

/* Colors for JS */
.color-white {
	background-color: #F1F1F1
}

.color-turquoise {
	background-color: #90DADB
}

.color-emerald {
	background-color: #329399;
}

.color-blue {
	background-color: #355FA8;
}

.color-violet {
	background-color: #714F8E;
}

.color-orange {
	background-color: #E1756E;
}